@inherits TvViewBase

<div class="table-array">
  @if (Open && DataArray != null && all != null)
  {
  <MudSimpleTable Dense="Options.Styles.Dense" Hover="Options.Styles.Hover" Striped="Options.Styles.Striped" Bordered="Options.Styles.Bordered" Style="display: inline-block;">
    <colgroup>
      <col style="width: 40px;"/>
    </colgroup>
    <thead>
      <tr>
        <th @onclick="ToggleOpen" class="title" colspan="@(HasAnyAction ? 3 : 2)">
          <div class="title-wrap">
            <span class="key-name">
              (@all.Count() items)
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var (index, item) in DataArray)
      {
        <tr>
          <td class="index">@index</td>
          <td class="item">
            <TvElementView Data="@item" Options="Options" Depth="Depth + 1"/>
          </td>
          @if (HasAnyAction)
          {
          <td class="item">
            @foreach (var action in Options.Actions ?? Enumerable.Empty<ITvAction>())
            {
              @if (action.Condition(item, Depth))
              {
                <button @onclick="@(() => action.Action(item))">
                  @action.Label
                </button>
              }
            }
          </td>
          }
        </tr>
      }
      @if (HasMoreItems)
      {
        <tr>
          <td class="index"></td>
          <td>
            <button @onclick="@(() => MoreItems())">
              more
            </button>
          </td>
        </tr>
      }
    </tbody>
  </MudSimpleTable>
  }
  else
  {
    <MudButton OnClick="ToggleOpen" Variant="Variant.Outlined" Size="Size.Small">
        array (@(all?.Count() ?? 0) items)
    </MudButton>
  }
</div>