@inherits TvViewBase

<div class="table-object-array">
  @if (Open)
  {
    <table class="table-viewer">
      <thead>
        <tr>
          <th colspan="@TableColumns" class="title" @onclick="ToggleOpen">
            <div class="title-wrap">
                <span>
                    ( @array.Count() items)
                </span>
            </div>
          </th>
        </tr>
        <tr>
          @foreach (var key in Keys)
          {
            <th class="typeheader">@key</th>
          }
          <th class="typeheader">...</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in array)
        {
          <tr>
            @if (item == null)
            {
              <td colspan="@Keys.Count()">
                <TvNullView Options="Options" Depth="Depth + 1" />
              </td>
            }
            else
            {
              @foreach (var key in Keys)
              {
                var value = GetValue(item, key);
                <td class="value">
                  <TvElementView
                    Parent="item"
                    Data="value"
                    Options="Options"
                    Depth="Depth + 1"
                  />
                </td>
              }
              <td class="value">
                @foreach (var action in (Options?.Actions ?? Enumerable.Empty<ITvAction>()))
                {
                  @if (action.Condition(item, Depth))
                  {
                    <button
                      class="action"
                      @onclick="@(() => ButtonAction(item, action))"
                    >
                      @action.Label
                    </button>
                  }
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <div class="title" @onclick="ToggleOpen">
      array ( @array.Count() items)
    </div>
  }
</div>