@inherits TvViewBase

  @if ((Open ?? false) && DataArray != null && all != null)
  {
    List<string> tableClassList = new()
    {
      "d-inline-block",
      (Options.Style.SuperDense ? "mud-table-super-dense" : string.Empty),
    };
    if (Depth == 1)
    {
      tableClassList.AddRange(Options.Style.RootClass);
    }
    var tableClassText = string.Join(" ", tableClassList.Where(x => !string.IsNullOrWhiteSpace(x)));

    List<string> tdthClassList = new()
    {
      (Options.Style.SuperDense ? "px-2 py-1" : string.Empty),
    };
    string tdthClassText = string.Join(" ", tdthClassList.Where(x => !string.IsNullOrWhiteSpace(x)));
  <MudTable
    Items="DataArray"
    Class="@tableClassText"
    Dense="Options.Style.Dense"
    Hover="Options.Style.Hover"
    Striped="Options.Style.Striped"
    Bordered="Options.Style.Bordered"
    Loading="Loading"
    LoadingProgressColor="Options.Style.LoadingProgressColor"
    LoadingContent="LoadingContent"
    CustomHeader="true"
    CustomFooter="true"
  >
    <ColGroup>
      <col style="width: 40px;"/>
    </ColGroup>
    <HeaderContent>
      <MudTHeadRow>
        <MudTh
          Class="@tdthClassText"
          colspan="@(HasAnyAction ? 3 : 2)"
        >
          @if (Depth == 1 && !string.IsNullOrWhiteSpace(Options.Title))
          {
            <span class="tv-title">
              @Options.Title
            </span>
          }
          <MudButton OnClick="ToggleOpen"
            Class="mud-button-super-dense"
            Variant="Variant.Text"
            Style="text-transform: none;"
          >
            (@all.Count() Items)
          </MudButton>
        </MudTh>
      </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
      @{
        var (index, item) = context;
      }
      <MudTd Class="@tdthClassText">
        @index
      </MudTd>
      <MudTd Class="@tdthClassText">
        <TvElementView
            Data="@item"
            Options="Options"
            Depth="Depth + 1"
            OpenDepth="OpenDepth"
        />
      </MudTd>
    </RowTemplate>
    <FooterContent>
      @if (HasMoreItems)
      {
      <MudTFootRow>
        <MudTd Class="@tdthClassText"></MudTd>
        <MudTd Class="@tdthClassText" colspan="@(HasAnyAction ? 2 : 1)">
          <MudButton
            Class="px-0 py-0"
            OnClick="@(() => MoreItems())"
            Variant="Variant.Outlined"
            Size="Size.Small"
            Color="Color.Transparent"
          >
            more
          </MudButton>
        </MudTd>
      </MudTFootRow>
      }
    </FooterContent>
  </MudTable>
  }
  else
  {
    string classText = string.Empty;
    if (Options.Style.SuperDense)
    {
      classText += " mud-button-super-dense";
    }
    else if (Options.Style.Dense)
    {
      classText += " mud-button-dense";
    }
    <MudButton OnClick="ToggleOpen"
      Class="@classText"
      Variant="Variant.Outlined"
      Size="Size.Small"
    >
        array (@(all?.Count() ?? 0) items)
    </MudButton>
  }
