@inherits TvViewBase

  @if (Open ?? false)
  {
    List<string> tableClassList = new()
    {
      "d-inline-block",
      (Options.Style.SuperDense ? "mud-table-super-dense" : string.Empty),
    };
    if (Depth == 1)
    {
      tableClassList.AddRange(Options.Style.RootClass);
    }
    var tableClassText = string.Join(" ", tableClassList.Where(x => !string.IsNullOrWhiteSpace(x)));

    List<string> tdthClassList = new()
    {
      (Options.Style.SuperDense ? "px-2 py-1" : string.Empty),
    };
    string tdthClassText = string.Join(" ", tdthClassList.Where(x => !string.IsNullOrWhiteSpace(x)));
  <MudTable
    Items="Items"
    Class="@tableClassText"
    Dense="Options.Style.Dense"
    Hover="Options.Style.Hover"
    Striped="Options.Style.Striped"
    Bordered="Options.Style.Bordered"
    Loading="Loading"
    LoadingProgressColor="Options.Style.LoadingProgressColor"
    LoadingContent="LoadingContent"
    CustomHeader="true"
  >
    <HeaderContent>
      <MudTHeadRow>
        <MudTh colspan="2" Class="@tdthClassText">
          @if (Depth == 1 && !string.IsNullOrWhiteSpace(Options.Title))
          {
            <span class="tv-title">
              @Options.Title
            </span>
          }
          <MudButton OnClick="ToggleOpen"
            Class="mud-button-super-dense"
            Variant="Variant.Text"
            Style="text-transform: none;"
          >
            (@Items.Count() Keys)
          </MudButton>
        </MudTh>
      </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
      @{
        var (key, value) = context;
      }
      <MudTd Class="@tdthClassText">
        <TvElementView
          Parent="@this"
          Data="key"
          Options="Options"
          Depth="Depth + 1"
          OpenDepth="OpenDepth"
        />
      </MudTd>
      <MudTd Class="@tdthClassText">
        <TvElementView
          Parent="@this"
          Data="value"
          Options="Options"
          Depth="Depth + 1"
          OpenDepth="OpenDepth"
        />
      </MudTd>
    </RowTemplate>
  </MudTable>
  }
  else
  {
    string classText = string.Empty;
    if (Options.Style.SuperDense)
    {
      classText += " mud-button-super-dense";
    }
    else if (Options.Style.Dense)
    {
      classText += " mud-button-dense";
    }
    <MudButton OnClick="ToggleOpen"
      Class="@classText"
      Variant="Variant.Outlined"
      Size="Size.Small"
    >
        object (@Items.Count() keys)
    </MudButton>
  }
